<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script 
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Times</h1>
  <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if current_user.is_authenticated %}
  Welcome, {{current_user.name}}.
{% endif %}

<!-- Design on bootstrap grid -->
<form role="form">
<div class="row">
  <div class="col-md-4">
    <label>Distance</label>
  <select name="distance" id="brevet_dist_km">
    <option value="200">200km</option>
    <option value="300">300km</option>
    <option value="400">400km</option>
    <option value="600">600km</option>
    <option value="1000">1000km</option>
  </select>
  </div> <!-- columns 1--4  -->
  <div class="col-md-6">
    <label>Begins at</label>
    <input type=date name="begin_date" id="begin_date" value="2017-01-01" />
    <input type=time name="begin_time" id="begin_time" value="00:00"    />
  </div> <!-- columns 5-10 -->
  </div> <!-- row -->

  <br />  <!-- Cosmetic -- a little vertical space -->
  <!-- Although we do not use tables for general page layout, they are
       appropriate for something that really is a table, like this
       one.  We allocate it the full 12 columns of the bootstrap grid.
  -->
  <div class="row">
  <div class="col-md-12"> 
  <table class="control_time_table">
      <tr>
	<th> Miles </th>
	<th> Km </th>
	<th>Location</th>
	<th>Open</th>
	<th>Close</th>
	<th>Notes</th>
      </tr>
   <!-- I've added in numbered id tags for each of elements I will need to read from into the database so I can access them easier -->
   {% for row in range(20) %}
    <tr class="control">
      <!-- Dist (mi) -->
      <td><input name="miles" type="number" 
           min="0" max="900" size="5" /></td>
      <!-- Dist (km) -->
      <td><input name="km" type="text"
	   min="0" max="1100" size="5" id="Dist_{{ loop.index }}" /> </td>
      <!-- Location (optional) -->
      <td><input name="location" type="text" 
        placeholder="Optional location name"
	size="20" /> </td>
      <!-- Open time (read only, set by JavaScript function -->
      <td><input name="open" type="datetime" id="Open_{{ loop.index }}" value="" readonly /></td>
      <!-- Close time (read only, set by JavaScript function -->
      <td><input name="close" type="datetime" id="Close_{{ loop.index }}" value="" readonly /></td>
      <!-- Notes (error messages for this row) -->
      <td class="notes"> &nbsp; </td>
    </tr>
    {% endfor %}
  </table>
  </div> <!-- col -->
  </div> <!-- row -->
</form>
<button onClick="submit_values()">Submit brevet</button> <button onClick="display_saved()">Display saved brevet</button> <button onClick="delete_saved()">Delete saved brevet</button>
<br>
<br>
Would you like to <a href="/logout">log out?</a>


<script type="text/javascript">

  var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
  var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";
  var SUBMIT_VALUES_URL = SCRIPT_ROOT + "/_submit_values";
  var RETURN_VALUES_URL = SCRIPT_ROOT + "/_return_values";
  var DELETE_VALUES_URL = SCRIPT_ROOT + "/_delete_values";

  // Pass calctimes a <td> element containing the data for a control.
  // It extracts the distance and calls the server to get times to
  // fill in open and close times in a human-readable format.
  // (If we want to also keep the ISO-formatted times, we'll need to
  // stash them in hidden fields.) 
  function calc_times(control) {
    var km = control.find("input[name='km']").val();
    var open_time_field = control.find("input[name='open']");
    var close_time_field = control.find("input[name='close']");
    var begin_date = document.getElementById('begin_date').value
    var begin_time = document.getElementById('begin_time').value
    var brevet_total = document.getElementById('brevet_dist_km').value
    
    $.getJSON(TIME_CALC_URL, { km: km, date : begin_date, time: begin_time, total_dist: brevet_total }, 
      // response handler
      function(data) {
         var times = data.result;
         console.log("Got a response: " +  times);
         console.log("Response.open = " + times.open);
         open_time_field.val( moment(times.open).format("ddd M/D H:mm"));
         close_time_field.val( moment(times.close).format("ddd M/D H:mm"));
       } // end of handler function
     );// End of getJSON
    }

  // Submit_values uses jinja2 templating to iterate through each of the fields for the 20 rows 
  // and add them to an array, so that it can send them to the flask_brevets _submit_values function,
  // which will add it to the mongodb. It then prints a response from _submit_values telling if it
  // succeeded or failed in setting the data.
  function submit_values() {
     // Use jinja2 templating to iterate through all 20 * 3 fields we need to gather data from and save them in their own variables
     {% for i in range(20) %}
        var km{{ loop.index }} = document.getElementById('Dist_{{ loop.index }}').value
        var open{{ loop.index }} = document.getElementById('Open_{{ loop.index }}').value
        var close{{ loop.index }} = document.getElementById('Close_{{ loop.index }}').value
     {% endfor %}
     // Then use jinja2 templating to iterate through all those variables and add them to a very long array holding all the data
     var all_the_data = {
     {% for i in range(19) %}
         "control_point_distance_{{ loop.index }}" : km{{ loop.index }},
         "open_time_{{ loop.index }}" : open{{ loop.index }},
         "close_time_{{ loop.index }}" : close{{ loop.index }},
     {% endfor %}
         "control_point_distance_20" : km20,
         "open_time_20" : open20,
         "close_time_20" : close20 
     }
     // The JSON then sends that array to flask_brevets _submit_values, which attempts to add it to the database.
     // And then _submit_values returns a message saying if it was successful, which it prints
     $.getJSON(SUBMIT_VALUES_URL, all_the_data, function(data){
          var printthis = data.result;
          alert(printthis.printme);
     });
     
  }

  // display_saved talks to flask_brevets _display_saved function and gets an array of all the data in the database
  // returned to it, which it displays after parsing using a javascript loop.
  function display_saved() {
    // Make the JSON call and get back the data
    $.getJSON(RETURN_VALUES_URL, {}, function(data){
       var printthis = data.result;
       // If there was no saved data, it returns this error, so we print it
       if (printthis.printme == "Error: No data saved."){
          alert(printthis.printme);
       }
       // Otherwise, we need to display the data. This loops through and adds all the data from the object that was 
       // returned to a string, then displays it.
       else {
          var actuallyprintthis = ""
          for (var i = 0; i < printthis.length; i++){
             tempobj = printthis[i]
             actuallyprintthis = actuallyprintthis + "Distance: " + tempobj.distance + " Open Time: " + tempobj.opening + " Close Time: " + tempobj.closing
             actuallyprintthis = actuallyprintthis + '\n'
          }
          alert(actuallyprintthis);

       }
    });
  }

  // delete_saved talks to flask_brevets _delete_values and tells it to empty the database.
  // It's really just to make testing empty database errors easier, it's not neccesary since submitting new values
  // will also empty the database.
  function delete_saved() {
    $.getJSON(DELETE_VALUES_URL, {}, function(data){
        var printthis = data.result;
        alert(printthis.printme);
    });
  }

  $(document).ready(function(){
   // Do the following when the page is finished loading

      $('input[name="miles"]').change(
         function() {
             var miles = parseFloat($(this).val());
             var km = (1.609344 * miles).toFixed(1) ;
             console.log("Converted " + miles + " miles to " + km + " kilometers");
             var control_entry = $(this).parents(".control")
             var target = control_entry.find("input[name='km']");
             target.val( km );
             // Then calculate times for this entry
             calc_times(control_entry);
          });

      $('input[name="km"]').change(
         function() {
             var km = parseFloat($(this).val());
             var miles = (0.621371 * km).toFixed(1) ;
             console.log("Converted " + km + " km to " + miles + " miles");
             var control_entry = $(this).parents(".control")
             var target = control_entry.find("input[name='miles']");
             target.val( miles );
             // Then calculate times for this entry
             calc_times(control_entry);
          });

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
