<!doctype html>
<title>ACP-Brevets Calculator login</title>
{% from "_formhelpers.html" import render_field %}
<form method=post>
  <input name=_csrf_token type=hidden value="{{ csrf_token() }}"> <!-- hidden value for CSRF protection -->
    <input type=hidden value="{{ next or '' }}" name=next> <!-- hidden value for Redirect Protection -->
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {{ render_field(form.rememberMe) }}
  </dl>
  <p><input type="submit" name="button" value="login"><input type="submit" name="button" value="register">
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
